/* kutular sabit genişlikte */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#isim{
   
    font-size: large;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 57, 120);
    padding-top: 60px;

}

#isim h3{
    
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(116, 40, 40);
   
}

#isim p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(116, 40, 105);
    font-size: 15px;
}


#sayfa{
    border-style: none;
    background-color: rgb(86, 101, 35);
}

/* kutu genişlikleri */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* satırlar */
.row{
    border: blue solid 2px;
    background-color: rgb(152, 160, 83);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

/* tepkisel resim */
img{
    width: 100%;
    height: auto;
}

#foto2{
    position: relative;
    top: 70px;
}


/* col- yasla */
[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px solid;
    border-style: none;
}

/* 768 px den daha küçük ekranlar için */
@media screen and (max-width:768px) {
    [class*="col-"] {width: 100%;}
}

/* kutu yükseklikleri */

#ust{min-height: 100px;}
#menu{min-height: 80px;}
#orta{min-height: 400px;}
#alt{height: 80px;}

/* anamenü */
#menu #anamenu ul{
    list-style-type: none;
    text-align: center;
    
    
    
    
   
}

#menu #anamenu ul li{
    border: 1px solid blue;
    width: 33.33%;
    float: left;
    border-style: none;
    
    
    
    
}

/* 768 px den daha küçük ekranlar için buton */
@media screen and (max-width:768px) {
    #menu #anamenu ul li {width: 100%;}
    
}

/* anamenü linkleri */
#menu #anamenu a {
    color:rgb(92, 19, 64);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    
}

#menu #anamenu a:hover{
    color:rgb(175, 93, 117);
    text-decoration: underline;
}

#menu #anamenu a:visited{
    color:darkslategrey;
}

#orta{
    text-align: center;
}


#orta #icerik img{
    width: 25%;
    height: auto;
}




   